<div class="angency-sidebar_block about-us-sidebar-block">
  <h2 class="sidebar-block-title">About us</h2>
  <div class="post-block post-classic_wrapper">
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="assets/images/homepage2/post-1.png" alt="post image"></div>
      <div class="post-detail"><a class="post-title" href="blog_detail.html">Pisen Agency</a>
        <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="assets/images/homepage2/post-2.png" alt="post image"></div>
      <div class="post-detail"><a class="post-title" href="blog_detail.html">Pisen Agency</a>
        <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="assets/images/homepage2/post-3.png" alt="post image"></div>
      <div class="post-detail"><a class="post-title" href="blog_detail.html">Pisen Agency</a>
        <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
