<div class="col-12 col-md-6 col-lg-12 mt-3" *ngFor="let item of myPost">
  <div class="post-mini_block">
    <div class="row">
    <div class="col-3"><img style="height: 150px" src="{{item.image}}" alt="post image"></div>
    <div class="col-9"><div class="post-detail">
      <div  class="post-credit">
        <div class="row">
          <div class="col-6"><div style="margin-left: 100px" class="post-tag"><a style="text-decoration: none" class="fa fa-tag" href="index.html">{{item.hashtag.name}}</a></div></div>
          <div class="col-6"><button routerLink="/post/edit/{{item.id}}" class="btn btn-sm btn-outline-primary" style="float: right">Edit</button></div>
        </div>

      </div ><div style="margin-left: 100px"><h6 style="cursor: pointer" routerLink="/post/view/{{item.id}}"  class="post-title">{{item.title}}</h6></div>
      <p style="margin-left: 100px" class="post-describe">{{item.description}}</p>
      <div style="margin-left: 100px" class="post-credit">
        <div class="author">
          <p class="author-name">{{item.date | date: ' EEEE,  dd-mm-yyyy hh:mm'}}   ({{item.status}})</p>
        </div>
      </div>
    </div></div>
    </div>
  </div>
</div>




