<section class="instagram">
  <div class="container">
    <div class="instagram-posts"><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/3269269/pexels-photo-3269269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/7124509/pexels-photo-7124509.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/1329711/pexels-photo-1329711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/4145190/pexels-photo-4145190.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/3829227/pexels-photo-3829227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="https://images.pexels.com/photos/614710/pexels-photo-614710.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="instagram post">
      <div class="instagram-post_block"><i class="fab fa-instagram"></i>
        <p>Pisen_Instagram</p>
      </div></a></div>
  </div>
</section>
