<h1 class="bundle-title">Recent view</h1>
<div class="col-12 col-md-6 col-lg-12">
  <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-1.png" alt="post image">
    <div class="post-detail">
      <div class="post-credit">
        <div class="post-tag"><a href="index.html">pet</a></div>
      </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
      <p class="post-describe">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non  </p>
      <div class="post-credit">
        <div class="author">
          <h5 class="author-name">Lucas Norman</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-12">
  <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-2.png" alt="post image">
    <div class="post-detail">
      <div class="post-credit">
        <div class="post-tag"><a href="index.html">pet</a></div>
      </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
      <p class="post-describe">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non  </p>
      <div class="post-credit">
        <div class="author">
          <h5 class="author-name">Lucas Norman</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-12">
  <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-3.png" alt="post image">
    <div class="post-detail">
      <div class="post-credit">
        <div class="post-tag"><a href="index.html">pet</a></div>
      </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
      <p class="post-describe">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non  </p>
      <div class="post-credit">
        <div class="author">
          <h5 class="author-name">Lucas Norman</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-12">
  <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-4.png" alt="post image">
    <div class="post-detail">
      <div class="post-credit">
        <div class="post-tag"><a href="index.html">pet</a></div>
      </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
      <p class="post-describe">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non  </p>
      <div class="post-credit">
        <div class="author">
          <h5 class="author-name">Lucas Norman</h5>
        </div>
      </div>
    </div>
  </div>
</div>
