<p>post-view works!</p>

<table [formGroup]="post">
  <tr><td>ID</td><input type="text" formControlName="id"></tr>
  <tr><td>Title</td><input type="text" formControlName="title"></tr>
  <tr><td>Image</td><input type="text" formControlName="image"></tr>
  <tr><td>Status</td><input type="text" formControlName="status"></tr>
  <tr><td>Description</td><input type="text" formControlName="description"></tr>
  <tr><td>Content</td><input type="text" formControlName="content"></tr>
  <tr><td>Date</td><input type="text" formControlName="date"></tr>
  <tr><td>User</td><input type="text" formControlName="user"></tr>
</table>


