<div align="center" *ngIf="postInstand.user.id === idUser">
  <button class="btn btn-outline-primary" routerLink="/post/edit/{{postInstand.id}}">abc</button>
</div>
<div id="main">
  <section class="blog-detail">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="post-block">
            <h1 class="blog-detail-title">{{postInstand.title}}</h1>
            <div class="blog-credit">
              <div class="blog-credit_wrapper">
                <h5>#{{postInstand.hashtag.name}}</h5>
                <p>{{postInstand.date | date : ' EEEE,  dd-mm-yyyy,  hh:mm OOOO'}}</p>
              </div>
            </div>
            <img style="width: 990px; height: 550px" class="blog-cover img-fluid" src="{{postInstand.image}}"
                 alt="blog image">
            <h4>{{postInstand.description}}</h4>
            <br>
            <p class="blog-pragraph" [innerHTML]="postInstand.content"></p>
            <div class="blog-quote">
              <q> end !!!</q>
              <!--              <p>count comment = {{postInstand.comment_count}}</p>-->

              <a href="#id-author-info" style="text-decoration: none" class="quote-author">{{postInstand.user.name}}</a>


            </div>


            <div class="row">
              <div class="col-12"><img style="height: 150px;width: 970px"
                                       src="https://media0.giphy.com/media/xUOrwafTKBZR78xeyQ/200w.webp?cid=ecf05e476zxax8udkxpqo58eh92dxti6v5rpq4x7xkznf8ra&rid=200w.webp&ct=g">
              </div>
            </div>
            <h3 class="post-title">You Can Buy For Less Than A College Degree</h3>
            <p class="blog-pragraph">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              bore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea com</p>
          </div>
          <div class="post-footer">
            <div class="row">
              <div class="col-sm-6">
                <div class="post-tags"><a href="index.html">Camera</a><a href="index.html">PHOTOGRAHY</a><a
                  href="index.html">TIPS</a></div>
              </div>
              <div class="col-sm-6 text-sm-right">
                <div class="post-share">
                  <p>Share: </p>
                  <div class="socials"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a
                    href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a
                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://dribbble.com/"><i
                    class="fab fa-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!--          <div class="another-posts"><a class="arrow-control arrow-prev" href="blog_detail.html"><i class="arrow_left"></i></a><a class="arrow-control arrow-next" href="blog_detail.html"><i class="arrow_right"></i></a>-->
          <!--            <div class="row no-gutters">-->
          <!--              <div class="col-12 col-md-6"><a href=""></a>-->
          <!--                <div class="another-post_block prev-post">-->
          <!--                  <div class="post-mini-img text-left"><a href="blog_detail.html"><img src="assets/images/blog_detail/post-mini-img-1.png" alt="post image"></a></div>-->
          <!--                  <div class="post-title">-->
          <!--                    <p>Previous post</p><a href="blog_detail.html">The Personality Trait That Makes People Happier</a>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="col-12 col-md-6">-->
          <!--                <div class="another-post_block text-right next-post">-->
          <!--                  <div class="post-title">-->
          <!--                    <p>Next post</p><a href="blog_detail.html">The Personality Trait That Makes People Happier</a>-->
          <!--                  </div>-->
          <!--                  <div class="post-mini-img text-right"><a href="blog_detail.html"><img src="assets/images/blog_detail/post-mini-img-2.png" alt="post image"></a></div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="post-author-detail">
            <div class="row no-gutters align-items-center">
              <div class="col-sm-5 col-md-3">

                <!--                author description-->

                <div class="author-avatar"><img src="https://img.icons8.com/ios-filled/2x/user.png"></div>
              </div>
              <div class="col-sm-7 col-md-9">
                <div class="author-info">

                  <h5 id="id-author-info">{{postInstand.user.name}}</h5>

                  <p>This is something about author </p>
                  <div class="author-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a
                    href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a><a
                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://dribbble.com/"><i
                    class="fab fa-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-comment">
            <h2>Leave a comment</h2>

            <form [formGroup]="commentpost" (ngSubmit)="createComment()">
              <div class="form-row">
              </div>
              <div class="form-group">
                <textarea formControlName="messages" class="textarea-form trans-bg" id="messages" name="messages"
                          cols="30" rows="6" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="normal-btn">Send message</button>

            </form>


          </div>

          <div class="post-comment">
            <p>count comment = {{postInstand.comment_count}}</p>
            <p>day la comment </p>

            <div *ngFor="let commment of listComment">
              <div>{{commment.text}}
                <button *ngIf="idUser == commment.user.id" (click)="deleteComment(commment.id)">delete</button>
              </div>
              <div>{{commment.user.name}}</div>
              <hr>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section><!--End posts-->
  <!--  <section class="instagram">-->
  <!--    <div class="container">-->
  <!--      <div class="instagram-posts"><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/1.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/2.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/3.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/4.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/5.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/3.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/images/instagram/2.png" alt="instagram post">-->
  <!--        <div class="instagram-post_block"><i class="fab fa-instagram"></i>-->
  <!--          <p>Pisen_Instagram</p>-->
  <!--        </div></a></div>-->
  <!--    </div>-->
  <!--  </section>&lt;!&ndash;End instagram&ndash;&gt;-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-4">
              <div class="footer-links">
                <h5 class="footer-link--title">Quick Link</h5>
                <ul>
                  <li><a class="footer-link" href="">News</a></li>
                  <li><a class="footer-link" href="">Agency</a></li>
                  <li><a class="footer-link" href="">Store</a></li>
                  <li><a class="footer-link" href="">Grid</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-4">
              <div class="footer-links">
                <h5 class="footer-link--title">Information</h5>
                <ul>
                  <li><a class="footer-link" href="index.html">Home</a></li>
                  <li><a class="footer-link" href="">Features</a></li>
                  <li><a class="footer-link" href="about_us.html">About Us</a></li>
                  <li><a class="footer-link" href="contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="footer-contact">
                <h5 class="footer-link--title">Contact us</h5>
                <div class="contact-method">
                  <p>72 Kangnam, 45 Opal Point Suite 391, UK</p>
                  <p>contact@pisen.com</p>
                </div>
                <div class="social-contact"><a class="icon-btn" href="https://www.facebook.com/"><i
                  class="fab fa-facebook-f"></i></a><a class="icon-btn" href="https://www.instagram.com/"><i
                  class="fab fa-instagram"></i></a><a class="icon-btn" href="https://twitter.com/"><i
                  class="fab fa-twitter"></i></a><a class="icon-btn" href="https://dribbble.com/"><i
                  class="fab fa-dribbble"></i></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h5 class="footer-link--title">Subscribe To Our Mailing List </h5>
          <form action="" method="post">
            <div class="email-form">
              <input class="input-form" type="text" placeholder="Enter Your Mail">
              <button><i class="fas fa-paper-plane"></i></button>
            </div>
            <div class="read-policy">
              <input type="checkbox" id="read">
              <label for="read">I've read and accept the Privacy Policy</label>
            </div>
          </form>
          <p class="copyright">Copyright ©2019 Pisen Blog</p>
        </div>
      </div>
    </div>
  </footer><!--End footer-->
  <script src="assets/js/jquery-3.4.0.min.js"></script>
  <script src="assets/js/jquery-ui.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/plyr.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/jquery.scrollUp.min.js"></script>
  <script src="assets/js/masonry.pkgd.min.js"></script>
  <script src="assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="assets/js/numscroller-1.0.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>
  <script src="assets/js/main.js"></script>
</div>
