<div class="angency-sidebar_block recent-post-sidebar-block">
  <h2 class="sidebar-block-title">Recent Post</h2>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-12">
      <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-1.png" alt="post image">
        <div class="post-detail">
          <div class="post-credit">
            <div class="post-tag"><a href="index.html">pet</a></div>
          </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
          <div class="post-credit">
            <div class="author">
              <h5 class="author-name">Lucas Norman</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12">
      <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-2.png" alt="post image">
        <div class="post-detail">
          <div class="post-credit">
            <div class="post-tag"><a href="index.html">pet</a></div>
          </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
          <div class="post-credit">
            <div class="author">
              <h5 class="author-name">Lucas Norman</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12">
      <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-3.png" alt="post image">
        <div class="post-detail">
          <div class="post-credit">
            <div class="post-tag"><a href="index.html">pet</a></div>
          </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
          <div class="post-credit">
            <div class="author">
              <h5 class="author-name">Lucas Norman</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12">
      <div class="post-mini_block"><img src="assets/images/blog_news/recent-view-4.png" alt="post image">
        <div class="post-detail">
          <div class="post-credit">
            <div class="post-tag"><a href="index.html">pet</a></div>
          </div><a class="post-title" href="blog_detail.html">Yankees’ Luis Severino Scratched, Raising Day</a>
          <div class="post-credit">
            <div class="author">
              <h5 class="author-name">Lucas Norman</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
