<div class="col-12">
  <div class="post-classic-tib big-post" style="background-image: url('assets/images/blog_agency/news-bundle-1.png')">
    <div class="post-detail">
      <div class="post-credit">
        <div class="post-tag"><a href="index.html">sport</a></div>
      </div><a class="post-title title" routerLink='/detail' >Watch Olympic Channel: Home of Team USA</a>
      <div class="post-credit">
        <div class="author">
          <h5 class="author-name">Lucas Norman</h5>
        </div>
      </div>
    </div>
    <div class="post-overlay"></div>
  </div>
</div>
