<h1 class="bundle-title"><i class="fa fa-fire"></i> Hot Post</h1>
<div class="col-12">
  <div class="post-block post-classic">
    <div class="post-img"><img src="{{posts[0].image}}" height="350" style="border-radius: 5px" alt="post image"></div>
    <div class="post-detail"><a class="post-title regular">{{posts[0].title}}</a>
      <div class="post-credit">
        <div class="author"><a class="author-avatar" ><img src="{{posts[0].user.avatar}}" alt="auhtor"></a>
          <h5 class="author-name">{{posts[0].user.name}}</h5>
        </div>
        <h5 class="upload-day">{{posts[0].date | date }}</h5>
        <div class="post-tag"><a class="fa fa-tag">{{posts[0].hashtag.name}}</a></div>
      </div>
      <p class="post-describe">{{posts[0].description}}</p>
    </div>
  </div>
</div>
